@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./case_study/index.css";
@import "./ui_components/font_css/general-sans.css";

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/public/fonts/Helvetica\ Neue\ Regular.otf');
}

@font-face {
  font-family: 'GS';
  src: url('/public/fonts/GeneralSans-Regular.woff')
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: General Sans;

}




.hero-banner-bg {
  height: calc(100% - 4rem);
  padding-top: 0 !important;

  /* padding-top: 4rem; */
}

@media (min-width: 900px) {

  .hero-banner-bg {
    height: calc(100vh - 4rem);
  }
}

.big-icon-info-div>* {
  flex-basis: 50%;
  margin-bottom: 5%;
}




/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */